{% load static %}

<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="fr">

<head>

  <title>{% block title %}Aidants Connect{% endblock %}</title>

  <link href="{% static 'css/template.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <!-- Extra styles -->
  {% block extracss %}
  {% endblock %}

  {% include 'common/_head.html' %}

</head>

<body>

  {% include 'common/_svg.html' %}

  {% block nav %}
    {% include 'common/_nav.html' %}
  {% endblock nav %}

  <main>

  {% if messages %}
    <div class="notification success closable full-width" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}

  {% block content %}
  {% endblock %}
  </main>

  {% block footer %}
    {% include 'common/_footer.html' %}
  {% endblock footer %}

  <!-- Extra scripts -->
  {% block extrajs %}
  {% endblock %}

</body>

</html>
