{% extends 'base.html' %}

{% load static %}

{% block extracss %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block content %}
  <section class="section">
    <div class="container">

      <div class="text-center">
        <h1>Inscription Aidants Connect</h1>
        <h4>{% block steptitle %}{% endblock %}</h4>
      </div>

      {% if form.errors %}
        <div class="notification error closable full-width" role="alert">
        {% for _, message in form.errors.items %}
          {{ message }}
        {% endfor %}
        </div>
      {% endif %}

      <div class="text-center">
        {% block stepintro %}{% endblock %}
      </div>

      <div>

        {% block stepform %}
          <form method="post">

            {% block stepformfields %}{% endblock %}

            <div class="form__group text-center">

              {% if prev %}
                <a href="{% url prev %}">
                  <input type="button" class="button" value="&larr; Étape précédente">
                </a>
              {% endif %}

              <input type="submit" class="button" value="Étape suivante &rarr;">
            </div>

            <input type="hidden" name="next" value="{{ next }}">
            {% csrf_token %}

          </form>
        {% endblock %}
      </div>

    </div>
  </section>

  <script type="text/javascript">
    function toggleFormExtra(extraId) {

      let targetNodeId = extraId + '_extra';
      let targetNode = document.getElementById(targetNodeId);
      let extraNodes = document.getElementsByClassName('form__extra');

      for (let node of extraNodes) {
        if (node.style.display !== 'none' && node !== targetNode) {
          node.style.display = 'none';
        };
      };

      if (targetNode) {
        targetNode.style.display = 'block';
      }
    }

    // We can now add an event listener on all radio buttons
    // to toggle the visibility of "extra" blocks upon clicking
    // them.
    let radioButtons = document.querySelectorAll('input[type=radio]');
    for (let button of radioButtons) {
      button.addEventListener('click', function(event) {
        toggleFormExtra(this.value);
      });
    };

    {% block stepjs %}{% endblock %}
  </script>

{% endblock content %}
