{% extends 'flexauth/register/base.html' %}

{% block steptitle %}2/5 – Votre organisation{% endblock %}

{% block stepintro %}
    <p>
        Bienvenue parmi nous, {{ new_user.first_name }} ! 👋<br>
        Pour créer un compte Aidant, vous devez faire partie d'une organisation agréée.<br>
        Merci de sélectionner votre organisation dans la liste ci-dessous&nbsp;:
    </p>
{% endblock %}

{% block stepformfields %}
    <div class="form__group text-center">
      {{ form.organisation }}
    </div>
{% endblock %}
