{% extends 'flexauth/register/second_factor_validation.html' %}

{% block stepname %}Configuration de l'application mobile{% endblock %}

{% block stepintro %}
    <p>Pour valider votre inscription, merci de suivre la procédure suivante :</p>
    <ol>
        <li>Installez une application d'authentification<br>
            telle que <strong>FreeOTP</strong> ou <strong>Authy</strong> sur votre téléphone</li>
        <li>Scannez le QR-code ci-dessous dans cette application</li>

        <div id="qrcode">
            <img width="200" height="200"
                 src="{% url 'flexauth:generate_totp_qrcode' totp_device_id=new_user.totp_device.id %}">
        </div>

        <li>Saisissez ensuite le code de sécurité généré par l'application :</li>
    </ol>
{% endblock %}
